name: Clang-Format Fix
run-name: "${{ github.actor }} fixing code format"

on:
  issue_comment:
    types:
      - created

permissions:
  pull-requests: write
  contents: write

jobs:
  parse-command:
    runs-on: ubuntu-latest
    name: Parse bot command
    if: ${{ github.event.issue.pull_request }}
    outputs:
      should_run: ${{ steps.check_comment.outputs.should_run }}
      ref: ${{ steps.get_pr.outputs.ref }}
      sha: ${{ steps.get_pr.outputs.sha }}
      repo: ${{ steps.get_pr.outputs.repo }}

    steps:
      - id: check_comment
        name: Check comment for trigger phrase
        run: |
          if [[ "${{ github.event.comment.author_association }}" == "COLLABORATOR" || "${{ github.event.comment.author_association }}" == "OWNER" ]] && \
             [[ $(echo "${{ github.event.comment.body }}" | grep -qEe '^@phlexbot[[:space:]]+format\b' && echo 'true') ]]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi
      - name: Get PR Info
        if: steps.check_comment.outputs.should_run == 'true'
        id: get_pr
        uses: ./actions/get-pr-info

  apply_formatting:
    runs-on: ubuntu-latest
    name: Apply formatting
    needs: parse-command
    if: ${{ needs.parse-command.outputs.should_run == 'true' }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4.1.7
        with:
          path: phlex-src
          ref: ${{ needs.parse-command.outputs.ref }}
          repository: ${{ needs.parse-command.outputs.repo }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - uses: DoozyX/clang-format-lint-action@bcb4eb2cb0d707ee4f3e5cc3b456eb075f12cf73 # v0.20
        with:
          source: "./phlex-src"
          clangFormatVersion: 20
          inplace: True
          extensions: cpp,hpp,cpp.in,hpp.in

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        id: add_and_commit
        with:
          token: ${{ secrets.WORKFLOW_PAT }}
          cwd: phlex-src
          author_name: "github-actions[bot]"
          author_email: "41898282+github-actions[bot]@users.noreply.github.com"
          message: 'Committing clang-format changes'

      - name: Formatting changes committed and pushed
        if: ${{ steps.add_and_commit.outputs.committed == 'true' && steps.add_and_commit.outputs.pushed == 'true'}}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3
        with:
          message: |
            Code-formatting changes pushed (commit ${{ steps.add_and_commit.outputs.commit_sha }})

      - name: No formatting changes to make
        if: ${{ steps.add_and_commit.outputs.committed == 'false' }}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3
        with:
          message: |
            No code-formatting changes to make
