name: Markdown Check
run-name: "${{ github.actor }} checking markdown format"

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:
    inputs:
      ref:
        description: "The branch, ref, or SHA to checkout. Defaults to the repository's default branch."
        required: false
        type: string

jobs:
  pre-check:
    runs-on: ubuntu-latest
    outputs:
      is_act: ${{ steps.detect_act.outputs.is_act }}
    steps:
      - name: Detect act environment
        id: detect_act
        uses: Framework-R-D/phlex/.github/actions/detect-act-env@main

  detect-changes:
    needs: pre-check
    if: github.event_name != 'workflow_dispatch' && needs.pre-check.outputs.is_act != 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    outputs:
      has_changes: ${{ steps.filter.outputs.matched }}
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        path: phlex-src

    - name: Detect Markdown changes
      id: filter
      uses: Framework-R-D/phlex/.github/actions/detect-relevant-changes@main
      with:
        repo-path: phlex-src
        base-ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
        head-ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
        file-type: md

  markdown-check:
    needs: [pre-check, detect-changes]
    if: >
      needs.detect-changes.result == 'skipped' ||
      (
        needs.detect-changes.result == 'success' &&
        needs.detect-changes.outputs.has_changes == 'true'
      )
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.ref || github.ref }}
        path: phlex-src

    - name: Add problem matcher
      uses: xt0rted/markdownlint-problem-matcher@v1

    - name: Run markdownlint
      uses: DavidAnson/markdownlint-cli2-action@v11
      with:
        globs: |
          phlex-src/**/*.md
          !phlex-src/**/CHANGELOG.md
