name: Python Fix
run-name: "${{ github.actor }} fixing Python code"

on:
  issue_comment:
    types:
      - created
  workflow_call:
    inputs:
      checkout-path:
        description: "Path to check out code to"
        required: false
        type: string
      ref:
        description: "The branch or ref to checkout"
        required: true
        type: string
      repo:
        description: "The repository to checkout from"
        required: true
        type: string

permissions:
  pull-requests: write
  contents: write

env:
  local-checkout-path: ${{ (github.event_name == 'workflow_call' && inputs.checkout-path) || format('{0}-src', github.event.repository.name) }}

jobs:
  parse-command:
    runs-on: ubuntu-latest
    name: Parse bot command
    if: >
      github.event_name == 'issue_comment' &&
      github.event.issue.pull_request &&
      (
        startsWith(github.event.comment.body, '@phlexbot python-fix') ||
        startsWith(github.event.comment.body, format('@{0}bot python-fix', github.event.repository.name))
      )
    outputs:
      ref: ${{ steps.get_pr.outputs.ref }}
      repo: ${{ steps.get_pr.outputs.repo }}
    steps:
      - name: Get PR Info
        id: get_pr
        uses: ${{ github.repository }}/.github/actions/get-pr-info@main

  apply_fixes:
    runs-on: ubuntu-latest
    name: Apply fixes
    needs: parse-command
    if: github.event_name == 'workflow_call' || needs.parse-command.result == 'success'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: ${{ env.local-checkout-path }}
          ref: ${{ (github.event_name == 'workflow_call' && inputs.ref) || needs.parse-command.outputs.ref }}
          repository: ${{ (github.event_name == 'workflow_call' && inputs.repo) || needs.parse-command.outputs.repo }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          pip install ruff

      - name: Run ruff format and fix
        working-directory: ${{ env.local-checkout-path }}
        env:
          FORCE_COLOR: 1
        run: |
          echo "Fixing Python format with ruff"
          ruff format . || true
          echo "Fixing Python linter issues with ruff"
          ruff check --fix . || true

      - name: Handle fix commit
        uses: ./${{ env.local-checkout-path }}/.github/actions/handle-fix-commit
        with:
          tool: 'Python linting'
          working-directory: phlex-src
          token: ${{ secrets.WORKFLOW_PAT }}
          pr-info-ref: ${{ (github.event_name == 'workflow_call' && inputs.ref) || needs.parse-command.outputs.ref }}
          pr-info-repo: ${{ (github.event_name == 'workflow_call' && inputs.repo) || needs.parse-command.outputs.repo }}
