name: Python Fix
run-name: "${{ github.actor }} fixing Python code"

on:
  issue_comment:
    types:
      - created

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check for phlexbot token
    if: ${{ github.event.issue.pull_request && (github.event.comment.author_association == 'COLLABORATOR' || github.event.comment.author_association == 'OWNER') }}
    permissions:
      contents: read
      pull-requests: read

    outputs:
      match_result: ${{ steps.check_comment.outputs.match_result }}
      ref_name: ${{ steps.check_comment.outputs.ref_name }}
      repo_name: ${{ steps.check_comment.outputs.repo_name }}

    steps:
      - id: check_comment
        name: Check comment
        run: |
          match_result=$(echo "$COMMENT_BODY" | grep -qEe '^@phlexbot[[:space:]]+python-fix\b' && echo match || echo non_match)
          echo match_result="$match_result" >> $GITHUB_OUTPUT

          ISSUE_NUMBER=${{ github.event.issue.number }}
          REPO="${{ github.repository }}"
          gh api "repos/$REPO/pulls/$ISSUE_NUMBER" > pr.json
          echo "ref_name=$(jq -r .head.ref pr.json)" >> $GITHUB_OUTPUT
          echo "repo_name=$(jq -r .head.repo.full_name pr.json)" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}
          COMMENT_BODY: ${{ github.event.comment.body }}

  apply_fixes:
    runs-on: ubuntu-latest
    name: Apply fixes
    needs: check
    if: ${{ needs.check.outputs.match_result == 'match' }}
    permissions:
      contents: write
      pull-requests: write
    container:
      image: ghcr.io/framework-r-d/phlex-ci:latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: phlex-src
          ref: ${{ needs.check.outputs.ref_name }}
          repository: ${{ needs.check.outputs.repo_name }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - name: Run ruff format and fix
        working-directory: phlex-src
        run: |
          /entrypoint.sh
          ruff format .
          ruff --fix .

      - uses: EndBug/add-and-commit@777a761e0f8293b7b051170404976d7cf10611cb # v9.1.4
        id: add_and_commit
        with:
          token: ${{ secrets.WORKFLOW_PAT }}
          cwd: phlex-src
          author_name: "github-actions[bot]"
          author_email: "41898282+github-actions[bot]@users.noreply.github.com"
          message: 'Committing Python linting fixes'

      - name: Formatting changes committed and pushed
        if: ${{ steps.add_and_commit.outputs.committed == 'true' && steps.add_and_commit.outputs.pushed == 'true'}}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          message: |
            Python linting fixes pushed (commit ${{ steps.add_and_commit.outputs.commit_sha }})

      - name: No formatting changes to make
        if: ${{ steps.add_and_commit.outputs.committed == 'false' }}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          message: |
            No Python linting fixes to make
